@import "tailwindcss";

@theme {
  --color-primary: #120F19;
  --color-accent: #7EC8E3;
  --color-surface: #1A1625;
  --color-border: #2A2438;
  --color-textmain: #E6E6F0;
  --color-textsub: #9CA3AF;

  --font-display: "Sora", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
}

body{
  cursor:none !important;
}

.hero-name {
   font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1;
}

.name-line {
  display: block;
  font-size: clamp(3rem, 7vw, 6rem);
  color: var(--color-textmain);

  opacity: 0;
  transform: translateY(40px);

  animation: revealName 0.9s ease forwards;
}

.name-line:nth-child(1) {
  animation-delay: 0.2s;
}

.name-line:nth-child(2) {
  animation-delay: 0.5s;
}

.name-line:nth-child(3) {
  animation-delay: 0.8s;
}

.accent {
  color: var(--color-accent);
}

@keyframes revealName {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}